In [1]:
import numpy as np

### 创建数组

In [2]:
# 新建一个数组
np.array([1, 2, 3])

array([1, 2, 3])

In [3]:
# 数组类型 ndarray 多维数组
type(np.array([1, 2, 3]))

numpy.ndarray

In [4]:
# 一维数组 长度10 元素0
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [5]:
# 二维数组 10x10 默认类型 float
np.zeros([10, 10])

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]])

In [6]:
# 指定类型 int8 int16 int32 i1 i2 i4
np.zeros([10, 10], dtype='int16')

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]], dtype=int16)

In [7]:
np.full((10, 10), 1)

array([[1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]])

In [8]:
# 创建一个0-9的一维数组
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

### ndarray 属性

In [9]:
arr = np.full((10, 10), 1)

In [10]:
arr

array([[1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]])

In [11]:
# 维度
arr.ndim

2

In [12]:
# 阶数
arr.shape

(10, 10)

In [13]:
# 元素类型
arr.dtype

dtype('int32')

In [14]:
# 类型转换
arr.astype('int8')

array([[1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]], dtype=int8)

In [15]:
# 每个元素字节大小
arr.dtype
arr.itemsize

4

In [16]:
# 元素个数
arr.size

100

### 取值

In [17]:
arr = np.arange(100).reshape(10, 10)
arr

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [18]:
# 第一行元素
arr[0]

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [19]:
# 第一行第一个元素
arr[0][0]

0

In [20]:
# 第一行第一个元素
arr[0, 0]

0

In [21]:
# 第一行所有元素 
arr[0, :]

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [22]:
# 第一行1-8元素 左闭右开
arr[0, 1:9]

array([1, 2, 3, 4, 5, 6, 7, 8])

In [23]:
# 步幅
arr[0, 1:9:2]

array([1, 3, 5, 7])

In [24]:
# 取出中间8x8
arr[1:-1, 1:-1]

array([[11, 12, 13, 14, 15, 16, 17, 18],
       [21, 22, 23, 24, 25, 26, 27, 28],
       [31, 32, 33, 34, 35, 36, 37, 38],
       [41, 42, 43, 44, 45, 46, 47, 48],
       [51, 52, 53, 54, 55, 56, 57, 58],
       [61, 62, 63, 64, 65, 66, 67, 68],
       [71, 72, 73, 74, 75, 76, 77, 78],
       [81, 82, 83, 84, 85, 86, 87, 88]])

In [25]:
# 取出不同行 第零行最后一行
arr[[0, -1]]

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [26]:
arr[[0, -1], :]

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [27]:
arr[[-1, 0]]

array([[90, 91, 92, 93, 94, 95, 96, 97, 98, 99],
       [ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9]])

### 条件取值

In [28]:
arr = np.arange(100).reshape(10, 10)
arr

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [29]:
# 取出大于50的元素
# 返回一个布尔数组
arr > 50

array([[False, False, False, False, False, False, False, False, False,
        False],
       [False, False, False, False, False, False, False, False, False,
        False],
       [False, False, False, False, False, False, False, False, False,
        False],
       [False, False, False, False, False, False, False, False, False,
        False],
       [False, False, False, False, False, False, False, False, False,
        False],
       [False,  True,  True,  True,  True,  True,  True,  True,  True,
         True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True,
         True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True,
         True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True,
         True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True,
         True]])

In [30]:
arr[arr > 50]

array([51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

In [31]:
# 取出并赋值
arr[arr > 50] = 50
arr

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 50, 50, 50, 50, 50, 50, 50, 50, 50],
       [50, 50, 50, 50, 50, 50, 50, 50, 50, 50],
       [50, 50, 50, 50, 50, 50, 50, 50, 50, 50],
       [50, 50, 50, 50, 50, 50, 50, 50, 50, 50],
       [50, 50, 50, 50, 50, 50, 50, 50, 50, 50]])

### 计算

In [32]:
arr = np.arange(100).reshape(10, 10)
arr

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [33]:
# 最大值max 最小值min
np.max(arr)

99

In [34]:
# 第一行最大值
np.max(arr[0])

9

In [35]:
# 每一行最大值
np.max(arr, axis=1)

array([ 9, 19, 29, 39, 49, 59, 69, 79, 89, 99])

In [36]:
# 求和
np.sum(arr)

4950

In [37]:
# 每一行求和
np.sum(arr, axis=1)

array([ 45, 145, 245, 345, 445, 545, 645, 745, 845, 945])

In [38]:
# 每一列求和
np.sum(arr, axis=0)

array([450, 460, 470, 480, 490, 500, 510, 520, 530, 540])

- max 最大值
- min 最小值
- mean 均值
- var 方差
- std 标准差

In [39]:
# 求每一个元素的sin值
np.sin(arr)

array([[ 0.        ,  0.84147098,  0.90929743,  0.14112001, -0.7568025 ,
        -0.95892427, -0.2794155 ,  0.6569866 ,  0.98935825,  0.41211849],
       [-0.54402111, -0.99999021, -0.53657292,  0.42016704,  0.99060736,
         0.65028784, -0.28790332, -0.96139749, -0.75098725,  0.14987721],
       [ 0.91294525,  0.83665564, -0.00885131, -0.8462204 , -0.90557836,
        -0.13235175,  0.76255845,  0.95637593,  0.27090579, -0.66363388],
       [-0.98803162, -0.40403765,  0.55142668,  0.99991186,  0.52908269,
        -0.42818267, -0.99177885, -0.64353813,  0.29636858,  0.96379539],
       [ 0.74511316, -0.15862267, -0.91652155, -0.83177474,  0.01770193,
         0.85090352,  0.90178835,  0.12357312, -0.76825466, -0.95375265],
       [-0.26237485,  0.67022918,  0.98662759,  0.39592515, -0.55878905,
        -0.99975517, -0.521551  ,  0.43616476,  0.99287265,  0.63673801],
       [-0.30481062, -0.96611777, -0.7391807 ,  0.1673557 ,  0.92002604,
         0.82682868, -0.02655115, -0.85551998, -0.89792768, -0.11478481],
       [ 0.77389068,  0.95105465,  0.25382336, -0.67677196, -0.98514626,
        -0.38778164,  0.56610764,  0.99952016,  0.51397846, -0.44411267],
       [-0.99388865, -0.62988799,  0.31322878,  0.96836446,  0.73319032,
        -0.17607562, -0.92345845, -0.82181784,  0.0353983 ,  0.86006941],
       [ 0.89399666,  0.10598751, -0.77946607, -0.94828214, -0.24525199,
         0.68326171,  0.98358775,  0.37960774, -0.57338187, -0.99920683]])

In [40]:
# 每个元素加一
arr + 1

array([[  1,   2,   3,   4,   5,   6,   7,   8,   9,  10],
       [ 11,  12,  13,  14,  15,  16,  17,  18,  19,  20],
       [ 21,  22,  23,  24,  25,  26,  27,  28,  29,  30],
       [ 31,  32,  33,  34,  35,  36,  37,  38,  39,  40],
       [ 41,  42,  43,  44,  45,  46,  47,  48,  49,  50],
       [ 51,  52,  53,  54,  55,  56,  57,  58,  59,  60],
       [ 61,  62,  63,  64,  65,  66,  67,  68,  69,  70],
       [ 71,  72,  73,  74,  75,  76,  77,  78,  79,  80],
       [ 81,  82,  83,  84,  85,  86,  87,  88,  89,  90],
       [ 91,  92,  93,  94,  95,  96,  97,  98,  99, 100]])

In [41]:
arr + (arr * 2)

array([[  0,   3,   6,   9,  12,  15,  18,  21,  24,  27],
       [ 30,  33,  36,  39,  42,  45,  48,  51,  54,  57],
       [ 60,  63,  66,  69,  72,  75,  78,  81,  84,  87],
       [ 90,  93,  96,  99, 102, 105, 108, 111, 114, 117],
       [120, 123, 126, 129, 132, 135, 138, 141, 144, 147],
       [150, 153, 156, 159, 162, 165, 168, 171, 174, 177],
       [180, 183, 186, 189, 192, 195, 198, 201, 204, 207],
       [210, 213, 216, 219, 222, 225, 228, 231, 234, 237],
       [240, 243, 246, 249, 252, 255, 258, 261, 264, 267],
       [270, 273, 276, 279, 282, 285, 288, 291, 294, 297]])

- mxn 数组加一 每一个元素加一
- mxn 数组加 nx1 数组 每一行加这个一维数组
- mxn 数组 加 mxn 数组 每一个元素对应相加

In [42]:
# 第一列加第三列乘第五列
(arr[:, 1] + arr[:, 3]) * arr[:, 5]

array([   20,   360,  1100,  2240,  3780,  5720,  8060, 10800, 13940,
       17480])

In [43]:
np.apply_along_axis(lambda x: print((x[1] + x[3] ) * x[5]), arr = arr, axis = 1)

20
360
1100
2240
3780
5720
8060
10800
13940
17480

array([None, None, None, None, None, None, None, None, None, None],
      dtype=object)

In [44]:
# 拼接
arr

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [45]:
arr2 = np.arange(10)
arr2

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [46]:
# 上下拼接
np.vstack([arr, arr2])

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99],
       [ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9]])

In [47]:
arr3 = arr2.reshape(10, 1)
arr3

array([[0],
       [1],
       [2],
       [3],
       [4],
       [5],
       [6],
       [7],
       [8],
       [9]])

In [48]:
# 左右拼接
np.hstack([arr, arr3])

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9,  0],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19,  1],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29,  2],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39,  3],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49,  4],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59,  5],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69,  6],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79,  7],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89,  8],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99,  9]])

### csv 加载数据
- 新建一个1.txt文件
- 内容
```
1,2,3
4,5,6
```

In [49]:
# 加载
np.genfromtxt('1.txt', delimiter=',')

array([[1., 2., 3.],
       [4., 5., 6.]])

In [50]:
# 保存
np.savetxt('2.txt', arr, fmt='%d', delimiter=',')

- 2.txt
- 内容
```
0,1,2,3,4,5,6,7,8,9
10,11,12,13,14,15,16,17,18,19
20,21,22,23,24,25,26,27,28,29
30,31,32,33,34,35,36,37,38,39
40,41,42,43,44,45,46,47,48,49
50,51,52,53,54,55,56,57,58,59
60,61,62,63,64,65,66,67,68,69
70,71,72,73,74,75,76,77,78,79
80,81,82,83,84,85,86,87,88,89
90,91,92,93,94,95,96,97,98,99
```