# 1 引入numpy并查看版本
```
out:1.17.3
```

In [2]:
import numpy as np
np.__version__

'1.19.2'

# 2 创建一位数组，0-9
```
out:array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
```

In [3]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

# 3 创建boolean数组（3x3全部为True）
```
out:array([[ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]])
```

In [4]:
np.full((3, 3), True)

array([[ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]])

# 4 提取满足条件的元素（提取奇数项）
```
in:    arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
out:   array([1, 3, 5, 7, 9])
```

In [8]:
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
# arr[1::2]
arr[arr%2==1]

array([1, 3, 5, 7, 9])

# 5 替换满足条件的元素（替换奇数项为-1）
```
in: arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
out:array([0, -1, 2, -1, 4, -1, 6, -1, 8, -1])
```

In [11]:
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
arr[arr%2==1] = -1
arr

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

# 6 与5相同，但是不要在原数组上改动，返回个新的数组

In [12]:
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
res = np.where(arr%2==1, -1, arr)
res

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

# 7 reshape一个数组（0-9这个一维数组->2x5的二维数组）
```
in: arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
out: array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])
```

In [13]:
np.arange(10).reshape(2, 5)

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

# 8 垂直拼接俩数组
```
in: a = np.arange(10).reshape(2,-1)
   b = np.repeat(1, 10).reshape(2,-1)
out: array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])
```

In [14]:
a = np.arange(10).reshape(2,-1)
b = np.repeat(1, 10).reshape(2,-1)

np.vstack([a, b])

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

# 9 水平拼接俩数组
```
in: a = np.arange(10).reshape(2,-1)
   b = np.repeat(1, 10).reshape(2,-1)
out: array([[0, 1, 2, 3, 4, 1, 1, 1, 1, 1],
       [5, 6, 7, 8, 9, 1, 1, 1, 1, 1]])
```

In [15]:
a = np.arange(10).reshape(2,-1)
b = np.repeat(1, 10).reshape(2,-1)

np.hstack([a,b])

array([[0, 1, 2, 3, 4, 1, 1, 1, 1, 1],
       [5, 6, 7, 8, 9, 1, 1, 1, 1, 1]])

# 10 生成自定义的数组
```
in: a = np.array([1,2,3])
out: array([1, 1, 1, 2, 2, 2, 3, 3, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3])
```

In [16]:
a = np.array([1,2,3])

np.hstack([np.repeat(a, 3), np.tile(a, 3)])

array([1, 1, 1, 2, 2, 2, 3, 3, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3])

# 11 求两数组交集
```
in: a = np.array([1,2,3,2,3,4,3,4,5,6])
   b = np.array([7,2,10,2,7,4,9,4,9,8])
out:array([2, 4])
```

In [27]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])
# np.intersect1d(a,b)
np.intersect1d(a,b)

array([2, 4])

# 12 从一个数组中删除另一个数组中含有的元素
```
in: a = np.array([1,2,3,4,5])
   b = np.array([5,6,7,8,9])
out:array([1,2,3,4])
```

In [28]:
a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])

np.setdiff1d(a, b)

array([1, 2, 3, 4])

# 13 两等长数组，找出位置相同且值也相同的下标
```
in: a = np.array([1,2,3,2,3,4,3,4,5,6])
   b = np.array([7,2,10,2,7,4,9,4,9,8])
out:(array([1, 3, 5, 7]),)
```

In [29]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

np.where(a == b)

(array([1, 3, 5, 7], dtype=int64),)

# 14 提取给定范围的数据(提取值在5-10之间的元素)
```
in: a = np.array([2, 6, 1, 9, 10, 3, 27])
out:(array([6, 9, 10]),)
```

In [4]:
a = np.array([2, 6, 1, 9, 10, 3, 27])

index = np.where((a >= 5) & (a <= 10))
a[index]

array([ 6,  9, 10])

In [5]:
a = np.array([2, 6, 1, 9, 10, 3, 27])

index = np.where(np.logical_and(a > 5, a <= 10))
a[index]

array([ 6,  9, 10])

In [8]:
a = np.array([2, 6, 1, 9, 10, 3, 27])

a[(a >= 5) & (a <= 10)]

array([ 6,  9, 10])

# 15 取a,b两等长数组中较大值为新数组
```
in: a = [4,6,1,7,9]
b=[1,6,9,2,7]
```

In [11]:
a = [4,6,1,7,9]
b = [1,6,9,2,7]

def maxx(x, y):
    if x > y:
        return x
    else:
        return y
    
pair_max = np.vectorize(maxx, otypes=[float])
pair_max(a, b)

array([4., 6., 9., 7., 9.])

# 16 如何交换二维数组两列（交换3x3数组的第0和第1列）
```
in:arr = np.arange(9).reshape(3,3)
out:array([[1, 0, 2],
       [4, 3, 5],
       [7, 6, 8]])
```

In [13]:
arr = np.arange(9).reshape(3,3)

arr[:, [1, 0, 2]]

array([[1, 0, 2],
       [4, 3, 5],
       [7, 6, 8]])

# 17 如何交换二维数组两行（交换3x3数组第0和第1行）
```
in:arr = np.arange(9).reshape(3,3)
out:array([[3, 4, 5],
       [0, 1, 2],
       [6, 7, 8]])
```

In [15]:
arr =np.arange(9).reshape(3,3)

arr[[1, 0, 2], :]

array([[3, 4, 5],
       [0, 1, 2],
       [6, 7, 8]])

# 18 如何反转二维数组的行
```
in:arr = np.arange(9).reshape(3,3)
out:array([[6, 7, 8],
       [3, 4, 5],
       [0, 1, 2]])
```

In [16]:
arr =np.arange(9).reshape(3,3)

arr[[2, 1, 0], :]

array([[6, 7, 8],
       [3, 4, 5],
       [0, 1, 2]])

# 19  如何反转二维数组的列
```
in:arr = np.arange(9).reshape(3,3)
out:array([[2, 1, 0],
       [5, 4, 3],
       [8, 7, 6]])
```

In [17]:
arr =np.arange(9).reshape(3,3)

arr[:, ::-1]

array([[2, 1, 0],
       [5, 4, 3],
       [8, 7, 6]])

# 20 创建5x3的float二维数组，值是5-10的随机数

In [18]:
np.random.uniform(5, 10, size=(5, 3))

array([[5.36430346, 6.29254072, 9.37873995],
       [7.57646779, 7.53803126, 9.23585705],
       [5.01396859, 5.94568132, 5.62780931],
       [5.91136772, 8.83409439, 8.36371177],
       [6.03952493, 7.17546166, 8.23031406]])

# 21 [打印设置相关]float数组每个元素保留小数点后3位打印(只是打印时，本质不变)
```
in:rand_arr = np.random.random((5,3))
```

In [19]:
rand_arr = np.random.random((5,3))

np.set_printoptions(precision=3)

rand_arr

array([[0.148, 0.859, 0.094],
       [0.967, 0.443, 0.907],
       [0.602, 0.442, 0.415],
       [0.718, 0.313, 0.96 ],
       [0.353, 0.457, 0.532]])

# 22 [打印设置相关]避免科学计数法打印数组
```
in:np.random.seed(100)
rand_arr = np.random.random([3,3])/1e3
```

In [20]:
np.random.seed(100)
rand_arr = np.random.random([3,3])/1e3

np.set_printoptions(suppress=True, precision=6)
rand_arr

array([[0.000543, 0.000278, 0.000425],
       [0.000845, 0.000005, 0.000122],
       [0.000671, 0.000826, 0.000137]])

# 23 [打印设置相关]如何限制数组打印条数
```
in:a = np.arange(15)
out: array([ 0,  1,  2, ..., 12, 13, 14])
```

In [23]:
a = np.arange(15)

np.set_printoptions(threshold=6)
a

array([ 0,  1,  2, ..., 12, 13, 14])

# 24 [打印设置相关]如何打印全部数据避免被省略

In [24]:
np.set_printoptions(threshold=100)
np.arange(100)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99])

# 25 导入含有数字和文本的数据集，保证数据完整(不要让文本变nan了)
```
in:url = './iris.data'
```

In [27]:
url = './iris.data'

np.set_printoptions(threshold=6)
iris = np.genfromtxt(url, delimiter=',', dtype='object')
iris

array([[b'5.1', b'3.5', b'1.4', b'0.2', b'Iris-setosa'],
       [b'4.9', b'3.0', b'1.4', b'0.2', b'Iris-setosa'],
       [b'4.7', b'3.2', b'1.3', b'0.2', b'Iris-setosa'],
       ...,
       [b'6.5', b'3.0', b'5.2', b'2.0', b'Iris-virginica'],
       [b'6.2', b'3.4', b'5.4', b'2.3', b'Iris-virginica'],
       [b'5.9', b'3.0', b'5.1', b'1.8', b'Iris-virginica']], dtype=object)

# 26 一维tuple数组，提取特定一列
```
in:url = './iris.data'
iris_1d = np.genfromtxt(url, delimiter=',', dtype=None)
```

In [29]:
url = './iris.data'
iris_1d = np.genfromtxt(url, delimiter=',', dtype=None)

species = np.array([row[4] for row in iris_1d])
species[:5]

<ipython-input-29-d48d911fd317>:2: VisibleDeprecationWarning: Reading unicode strings without specifying the encoding argument is deprecated. Set the encoding, use None for the system default.
  iris_1d = np.genfromtxt(url, delimiter=',', dtype=None)

array([b'Iris-setosa', b'Iris-setosa', b'Iris-setosa', b'Iris-setosa',
       b'Iris-setosa'], dtype='|S18')

# 27 如何将一维tuple数组转二维
```
in:同26
```

In [33]:
url = './iris.data'
iris_1d = np.genfromtxt(url, delimiter=',', dtype=None)

iris_2d = np.array([row.tolist()[:4] for row in iris_1d])
iris_2d[:4]

<ipython-input-33-e9ec19e8db1c>:2: VisibleDeprecationWarning: Reading unicode strings without specifying the encoding argument is deprecated. Set the encoding, use None for the system default.
  iris_1d = np.genfromtxt(url, delimiter=',', dtype=None)

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2]])

# 28 计算数组均值、中位数、标准差
```
in: np.arange(1000)
out:499.5 499.5 288.6749902572095
```

In [34]:
a = np.arange(1000)

print(np.mean(a), np.median(a), np.std(a))

499.5 499.5 288.6749902572095

# 29 数组归一化
```
in:a = np.arange(15)
a = a.reshape(3,5)
out:array([[0.      , 0.071429, 0.142857, 0.214286, 0.285714],
       [0.357143, 0.428571, 0.5     , 0.571429, 0.642857],
       [0.714286, 0.785714, 0.857143, 0.928571, 1.      ]])
```

In [36]:
a = np.arange(15)
a = a.reshape(3,5)

ma = a.max()
mi = a.min()

(a - mi) / (ma - mi)

array([[0.      , 0.071429, 0.142857, 0.214286, 0.285714],
       [0.357143, 0.428571, 0.5     , 0.571429, 0.642857],
       [0.714286, 0.785714, 0.857143, 0.928571, 1.      ]])

# 30 如何计算softmax分数

# 31找到第5%和第95%大的值

```
in:a = np.random.rand(100)
```

In [40]:
a = np.random.rand(100)

np.percentile(a, q=[5, 95])

array([0.048584, 0.925643])

# 32 如何在随机位置改值，在一个数组中随机10个位置改为nan
```
in: a = np.random.rand(100)
```

In [42]:
a = np.random.rand(100)

np.set_printoptions(threshold=100)
a[np.random.randint(100, size=20)] = np.nan
a

array([0.232378, 0.515588, 0.314992, 0.846593, 0.447376, 0.100085,
       0.901592, 0.856088,      nan, 0.259015, 0.066371, 0.317632,
       0.051843, 0.944188, 0.717217,      nan,      nan, 0.159182,
       0.432958, 0.279362, 0.961038, 0.098132, 0.406996, 0.008376,
       0.568059, 0.57661 , 0.137144, 0.672219, 0.142874, 0.509231,
       0.368762, 0.249107, 0.136282, 0.119291, 0.052388,      nan,
       0.770705,      nan, 0.621283, 0.379888, 0.679911,      nan,
       0.726638, 0.914483, 0.094895, 0.664977, 0.356873,      nan,
       0.945006, 0.223742, 0.057253, 0.642802, 0.088777, 0.667938,
       0.607221, 0.0196  , 0.393793,      nan, 0.021136,      nan,
       0.565567, 0.008875, 0.162845, 0.898132, 0.355433, 0.309754,
       0.582157, 0.522165, 0.882456,      nan,      nan, 0.308387,
       0.101004, 0.295022, 0.728905, 0.341879,      nan, 0.956348,
       0.999479, 0.337352, 0.475122, 0.82965 , 0.099405, 0.508115,
       0.833837, 0.770123,      nan, 0.05155 , 0.681324,      nan,
            nan, 0.409846, 0.207041,      nan,      nan, 0.71688 ,
            nan, 0.842137, 0.94074 , 0.469801])

# 33 找出数组中nan的位置
```
in: a = np.random.rand(100)
a[np.random.randint(100, size=20)] = np.nan
out: 20
```

In [45]:
a = np.random.rand(100)
a[np.random.randint(100, size=20)] = np.nan

np.where(np.isnan(a))

(array([20, 21, 27, 31, 32, 33, 37, 39, 51, 54, 56, 64, 67, 74, 92, 94, 96],
       dtype=int64),)

# 34 使用2个或以上条件来过滤数组元素
```
in: a = np.random.rand(100)
out:在>0.2 且 <0.8
```

In [46]:
a = np.random.rand(100)

a[(a > 0.2) & (a < 0.8)]

array([0.538396, 0.782502, 0.305376, 0.644678, 0.608584, 0.439066,
       0.205173, 0.507572, 0.606545, 0.461532, 0.698707, 0.744557,
       0.325164, 0.273052, 0.616522, 0.337621, 0.656403, 0.291456,
       0.597964, 0.382237, 0.222199, 0.305126, 0.57847 , 0.312139,
       0.524061, 0.423371, 0.643928, 0.52589 , 0.249089, 0.271195,
       0.794558, 0.415414, 0.478282, 0.340763, 0.460902, 0.521011,
       0.769425, 0.747227, 0.764122, 0.267897, 0.72919 , 0.687645,
       0.350881, 0.629399, 0.390556, 0.514429, 0.303964, 0.797   ,
       0.747515])

# 35 删除含有nan的行
```
in:a = np.random.rand(100)
a[np.random.randint(100, size=4)] = np.nan
a = a.reshape(10,10)
```

In [47]:
a = np.random.rand(100)
a[np.random.randint(100, size=4)] = np.nan
a = a.reshape(10,10)

any_nan_in_row = np.array([~np.any(np.isnan(row)) for row in a])
a[any_nan_in_row]

array([[0.714442, 0.349324, 0.188078, 0.891678, 0.345323, 0.205441,
        0.109397, 0.689934, 0.034336, 0.479771],
       [0.809378, 0.831479, 0.922972, 0.814104, 0.285064, 0.605866,
        0.260997, 0.814646, 0.464467, 0.273283],
       [0.134493, 0.144714, 0.196704, 0.497803, 0.20619 , 0.767369,
        0.256632, 0.262629, 0.642657, 0.995231],
       [0.54251 , 0.732604, 0.366298, 0.074469, 0.195201, 0.974954,
        0.504201, 0.985637, 0.334423, 0.866944],
       [0.282029, 0.488544, 0.556172, 0.812181, 0.852872, 0.49333 ,
        0.959292, 0.158764, 0.035954, 0.40648 ],
       [0.342819, 0.275818, 0.572678, 0.669429, 0.904317, 0.863955,
        0.746259, 0.949247, 0.468747, 0.570175],
       [0.483046, 0.004595, 0.857291, 0.233952, 0.611292, 0.682345,
        0.301934, 0.597293, 0.390992, 0.555458]])

# 36 求两列相关性(如第0和第2列相关性)
```
in:a = np.random.rand(100)
a = a.reshape(10,10)
```

In [53]:
a = np.random.rand(100)
a = a.reshape(10,10)

np.corrcoef(a[:, 0], a[:, 2])[0, 1]

0.6900083242274561

# 37 判断数组是否有nan值
```
in:a = np.random.rand(100)
a[np.random.randint(100, size=4)] = np.nan
a = a.reshape(10,10)
```

In [55]:
a = np.random.rand(100)
a[np.random.randint(100, size=4)] = np.nan
a = a.reshape(10,10)

np.isnan(a).any()

True

# 38 将数组中的nan全部替换为0

In [58]:
a = np.random.rand(100)
a[np.random.randint(100, size=4)] = np.nan
a = a.reshape(10,10)

a[np.isnan(a)] = 0
a

array([[0.      , 0.85202 , 0.262232, 0.716443, 0.887665, 0.846233,
        0.218689, 0.178957, 0.301402, 0.907742],
       [0.102546, 0.881361, 0.271774, 0.262544, 0.992101, 0.030323,
        0.683951, 0.      , 0.576877, 0.478619],
       [0.455711, 0.62087 , 0.92506 , 0.078894, 0.893285, 0.386241,
        0.544624, 0.44684 , 0.467173, 0.      ],
       [0.46473 , 0.519639, 0.727609, 0.377735, 0.215879, 0.106196,
        0.867855, 0.146571, 0.788175, 0.33969 ],
       [0.874378, 0.793576, 0.925755, 0.166107, 0.750505, 0.736948,
        0.267333, 0.769808, 0.915709, 0.750305],
       [0.027943, 0.015568, 0.289202, 0.643331, 0.263943, 0.43453 ,
        0.034916, 0.018332, 0.798359, 0.05312 ],
       [0.482533, 0.825163, 0.833688, 0.80312 , 0.694848, 0.547947,
        0.69769 , 0.056204, 0.36687 , 0.      ],
       [0.130372, 0.892731, 0.72865 , 0.793154, 0.805607, 0.477018,
        0.550608, 0.775342, 0.614103, 0.799209],
       [0.555134, 0.166562, 0.242245, 0.751649, 0.263963, 0.35207 ,
        0.097637, 0.216781, 0.613143, 0.615725],
       [0.22504 , 0.27847 , 0.33853 , 0.105341, 0.097588, 0.481455,
        0.590986, 0.821359, 0.36647 , 0.164735]])

# 39 求数组不重复值个数
```
in: a = np.random.rand(100)
a[np.random.randint(100, size=4)] = np.nan
a = a.reshape(10,10)
a = a*10
a = a.astype('int16')
```

In [59]:
a = np.random.rand(100)
a[np.random.randint(100, size=4)] = np.nan
a = a.reshape(10,10)
a = a*10
a = a.astype('int16')

len(np.unique(a))

10

# 40 数字转文本（0-3转s，4-6转m，7-9转l）
```
a = np.random.rand(100)
a = a.reshape(10,10)
a = a*10
a = a.astype('int16')
```

In [64]:
a = np.random.rand(100)
a[np.random.randint(100, size=4)] = np.nan
a = a.reshape(10,10)
a = a*10
a = a.astype('int16')

b = np.full_like(a, "", dtype='S20')
b[a <= 3] = 's'
b[(a > 3) & (a <= 6)] = 'm'
b[(a > 6) & (a <= 9)] = 'l'
b

array([[b's', b'l', b'l', b's', b'l', b's', b'l', b'l', b'l', b'l'],
       [b'l', b's', b'm', b'm', b'm', b's', b's', b's', b'm', b's'],
       [b'l', b'm', b'm', b'm', b'l', b'm', b'm', b's', b'l', b'l'],
       [b's', b's', b's', b's', b'l', b'm', b'l', b's', b'l', b'l'],
       [b'm', b'm', b's', b's', b's', b's', b'm', b's', b'm', b'm'],
       [b's', b's', b'm', b's', b'l', b'm', b's', b's', b's', b's'],
       [b'm', b'l', b'l', b'l', b's', b's', b's', b'm', b'm', b's'],
       [b's', b'm', b'm', b'l', b'l', b'l', b'm', b's', b'm', b's'],
       [b'm', b'l', b's', b'm', b's', b'm', b'm', b'm', b'l', b'm'],
       [b's', b'm', b's', b's', b'm', b's', b's', b'm', b'l', b's']],
      dtype='|S20')

# 41 用现有的列，创建新的一列（第0列叫x,第1列叫y，新增 sin(pi*(x/100)) * y^2）
```
a = np.random.rand(100)
a = a.reshape(10,10)
a = a*10
a = a.astype('int16')
```

In [66]:
a = np.random.rand(100)
a = a.reshape(10,10)
a = a*10
a = a.astype('int16')

np.sin(np.pi*(a[0] / 100) * (a[1] ** 2))

array([-0.707107,  0.094108,  0.      ,  0.      , -0.684547, -0.684547,
        0.      , -0.24869 ,  0.031411, -0.684547])

# 42 从1d数组中抽样选出10个元素
```
in:a = np.random.rand(100)
a = a*10
a = a.astype('int16')
```

In [67]:
a = np.random.rand(100)
a = a*10
a = a.astype('int16')

np.random.choice(a, 10)

array([9, 2, 8, 1, 8, 2, 1, 1, 1, 7], dtype=int16)

# 43 如何获取1d数组中不重复的第二大的值
```
in:a = np.random.rand(100)
a = a*10
a = a.astype('int16')
```

In [68]:
a = np.random.rand(100)
a = a*10
a = a.astype('int16')

np.unique(np.sort(a))[-2]

8

# 44 依据某一列对2d数组排序(例如根据第0列排序)
```
in:a = np.random.rand(100)
a = a*10
a = a.astype('int16')
a = a.reshape(10,10)
```

In [69]:
a = np.random.rand(100)
a = a*10
a = a.astype('int16')
a = a.reshape(10,10)

a[a[:, 0].argsort()]

array([[2, 9, 3, 0, 3, 9, 4, 9, 0, 9],
       [2, 6, 4, 4, 3, 8, 6, 7, 6, 6],
       [3, 7, 2, 8, 1, 1, 5, 7, 1, 9],
       [6, 0, 6, 4, 5, 0, 7, 8, 0, 2],
       [6, 9, 5, 7, 2, 8, 0, 3, 4, 7],
       [6, 3, 1, 1, 5, 7, 1, 4, 7, 9],
       [7, 5, 1, 0, 3, 2, 7, 7, 4, 9],
       [8, 3, 1, 5, 9, 0, 6, 3, 3, 3],
       [9, 7, 9, 8, 5, 7, 3, 5, 1, 6],
       [9, 6, 8, 4, 7, 6, 6, 8, 9, 2]], dtype=int16)

# 45 众数
```
in:a = np.random.rand(100)
a = a*10
a = a.astype('int16')
a = a.reshape(10,10)
```

In [79]:
a = np.random.rand(100)
a = a*10
a = a.astype('int16')
a = a.reshape(10,10)

print(a)
v,c = np.unique(a, return_counts=True)
v[np.argmax(c)]

[[2 2 9 8 2 6 3 5 3 3]
 [9 8 4 2 9 3 0 9 1 8]
 [7 3 9 8 4 0 5 4 3 7]
 [0 2 6 9 3 7 2 4 6 4]
 [2 4 5 5 3 3 4 4 2 7]
 [3 3 2 1 8 2 9 0 0 6]
 [1 8 2 9 3 9 9 6 7 3]
 [0 8 9 6 8 9 5 2 6 4]
 [3 0 0 3 0 5 9 0 6 8]
 [3 4 0 5 2 7 0 8 6 3]]

3

# 46 找出比给定值大的数第一次出现的位置
```
in:a = np.random.rand(100)
a = a*10
a = a.astype('int16')

b = 5
```

In [83]:
a = np.random.rand(100)
a = a*10
a = a.astype('int16')
b = 5

np.argwhere(a > b)[0]

array([1], dtype=int64)

# 47 将所有>7的替换为7，<3的替换为3
```
in:a = np.random.rand(100)
a = a*10
a = a.astype('int16')
a = a.reshape(10,10)
```

In [85]:
a = np.random.rand(100)
a = a*10
a = a.astype('int16')
a = a.reshape(10,10)

np.where(a < 3, 3, np.where(a > 10, 10, a))

array([[5, 3, 3, 5, 5, 7, 3, 3, 5, 6],
       [9, 3, 6, 5, 3, 3, 9, 3, 8, 8],
       [7, 3, 3, 3, 3, 7, 3, 5, 7, 4],
       [3, 4, 3, 8, 8, 5, 4, 6, 3, 6],
       [3, 3, 4, 3, 3, 9, 4, 3, 5, 3],
       [3, 6, 3, 4, 4, 3, 8, 4, 3, 8],
       [9, 3, 3, 3, 5, 4, 5, 4, 3, 8],
       [8, 9, 3, 3, 3, 3, 3, 3, 4, 5],
       [5, 3, 3, 4, 3, 4, 3, 3, 3, 3],
       [4, 8, 7, 7, 7, 3, 8, 3, 9, 3]], dtype=int16)

# 48 获取1d数组topK大的值（例如k=5）
```
a = np.random.uniform(1,50, 20)
```

In [87]:
a = np.random.uniform(1,50, 20)

np.sort(a)[-5]

35.20251505066483

# 50 如何把数组的数组转为1d数组
```
# Input:
arr1 = np.arange(3)
arr2 = np.arange(3,7)
arr3 = np.arange(7,10)

array_of_arrays = np.array([arr1, arr2, arr3])
```

In [92]:
# Input:
arr1 = np.arange(3)
arr2 = np.arange(3,7)
arr3 = np.arange(7,10)

array_of_arrays = np.array([arr1, arr2, arr3])

np.array([a for arr in array_of_arrays for a in arr])

<ipython-input-92-38d04af71d85>:6: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  array_of_arrays = np.array([arr1, arr2, arr3])

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

# 51 为数组的每个元素生成二进制编码
```
in: a = np.array([2, 3, 2, 2, 2, 1])
out:array([[ 0.,  1.,  0.],
        [ 0.,  0.,  1.],
        [ 0.,  1.,  0.],
        [ 0.,  1.,  0.],
        [ 0.,  1.,  0.],
        [ 1.,  0.,  0.]])
```

In [95]:
a = np.array([2, 3, 2, 2, 2, 1])

def one_hot_encoding(arr):
    uniqs = np.unique(arr)
    out = np.zeros((arr.shape[0], uniqs.shape[0]))
    for i, k in enumerate(arr):
        out[i, k-1] = 1
        return out
    
one_hot_encoding(a)

array([[0., 1., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

# 52 分好组的元素给定组内行号
```
in: a = np.array(['a','a','a','b','b','c','c','c','c'])
out: array([0,1,2,0,1,0,1,2,3])
```

In [104]:
a = np.array(['a','a','a','b','b','c','c','c','c'])

[i for val in np.unique(a) for i, grp in enumerate(a[a==val])]

[0, 1, 2, 0, 1, 0, 1, 2, 3]

# 53 分好组的元素每组给个标号
```
in: a = np.array(['a','a','a','b','b','c','c','c','c'])
out: array([0,0,0,1,1,2,2,2,2])
```

In [105]:
a = np.array(['a','a','a','b','b','c','c','c','c'])

[np.argwhere(np.unique(a) == s).tolist()[0][0] for val in np.unique(a) for s in a[a==val]]

[0, 0, 0, 1, 1, 2, 2, 2, 2]

# 54 给出每个元素在排序后的位置下标数组
```
in: [ 9  4 15  0 17 16 17  8  9  0]
out: [4 2 6 0 8 7 9 3 5 1]
```

In [122]:
np.random.seed(10)
a = np.random.randint(20, size=10)
print('Array', a)

print(a.argsort().argsort())

Array [ 9  4 15  0 17 16 17  8  9  0]
[4 2 6 0 8 7 9 3 5 1]

# 55 上题改成多维数组
```
in:np.random.seed(10)
a = np.random.randint(20, size=[2,5])
print(a)

out:#> [[4 2 6 0 8]
#>  [7 9 3 5 1]]
```

In [124]:
# Input:
np.random.seed(10)
a = np.random.randint(20, size=[2,5])
print(a)

print(a.ravel().argsort().argsort().reshape(a.shape))

[[ 9  4 15  0 17]
 [16 17  8  9  0]]
[[4 2 6 0 8]
 [7 9 3 5 1]]

# 56 二维数组找出每一行的最大值
```
# Input
np.random.seed(100)
a = np.random.randint(1,10, [5,3])
a
```

In [125]:
np.random.seed(100)
a = np.random.randint(1,10, [5,3])

np.max(a, axis=1)

array([9, 8, 6, 3, 9])

# 57 上题变种，计算每一行max/min的值

In [127]:
np.random.seed(100)
a = np.random.randint(1,10, [5,3])

np.apply_along_axis(lambda x: np.min(x)/np.max(x), arr=a, axis=1)

array([0.444444, 0.125   , 0.5     , 1.      , 0.111111])

# 58 找到数组中重复的值
```
in: [0 0 3 0 2 4 2 2 2 2]
out:[False  True False  True False False  True  True  True  True]
```

In [53]:
# Input
np.random.seed(100)
a = np.random.randint(0, 5, 10)

## Solution
# There is no direct function to do this as of 1.13.3

# Create an all True array
out = np.full(a.shape[0], True)

# Find the index positions of unique elements
unique_positions = np.unique(a, return_index=True)[1]

# Mark those positions as False
out[unique_positions] = False

print(out)

# 60 将一张jpg图片转换为numpy数组
```
in:URL = './Denali_Mt_McKinley.jpg'
```

In [128]:
URL = './Denali_Mt_McKinley.jpg'

from skimage import io
io.imread(URL)

array([[[  9,  72, 125],
        [  9,  72, 125],
        [  9,  72, 125],
        ...,
        [ 42, 103, 147],
        [ 42, 103, 147],
        [ 43, 104, 148]],

       [[  9,  72, 125],
        [  9,  72, 125],
        [ 10,  73, 126],
        ...,
        [ 42, 103, 147],
        [ 42, 103, 147],
        [ 43, 104, 148]],

       [[  9,  72, 125],
        [ 10,  73, 126],
        [ 10,  73, 126],
        ...,
        [ 44, 105, 150],
        [ 45, 106, 151],
        [ 45, 106, 151]],

       ...,

       [[ 21,  41,  50],
        [ 29,  51,  64],
        [ 28,  54,  69],
        ...,
        [ 27,  58,  79],
        [ 22,  53,  74],
        [ 19,  47,  69]],

       [[ 27,  51,  63],
        [ 29,  55,  68],
        [ 27,  56,  72],
        ...,
        [ 33,  70,  97],
        [ 27,  64,  91],
        [ 22,  57,  85]],

       [[ 18,  45,  56],
        [ 20,  48,  62],
        [ 21,  52,  70],
        ...,
        [ 15,  51,  77],
        [ 12,  48,  74],
        [ 11,  45,  72]]], dtype=uint8)

# 61 如何剔除所有nan值
```
in:np.array([1,2,3,np.nan,5,6,7,np.nan])
out:array([ 1.,  2.,  3.,  5.,  6.,  7.])
```

In [129]:
a = np.array([1,2,3,np.nan,5,6,7,np.nan])

a[~np.isnan(a)]

array([1., 2., 3., 5., 6., 7.])

# 62 如何计算两数组欧式距离
```
in:a = np.array([1,2,3,4,5])
b = np.array([4,5,6,7,8])
out:6.7082039324993694
```

In [130]:
# Input
a = np.array([1,2,3,4,5])
b = np.array([4,5,6,7,8])

# Solution
dist = np.linalg.norm(a-b)
dist

6.708203932499369

# 63 一维数组找到所有峰值(比前后都大的值)的下标
```
in:a = np.array([1, 3, 7, 1, 2, 6, 0, 1])
out:[2,5]
```

In [131]:
a = np.array([1, 3, 7, 1, 2, 6, 0, 1])
doublediff = np.diff(np.sign(np.diff(a)))
peak_locations = np.where(doublediff == -2)[0] + 1
peak_locations

array([2, 5], dtype=int64)

In [132]:
res =[]
for i in range(1,len(a)-1):
    if((a[i]>a[i-1])& (a[i]>a[i+1])):
        res.append(i)
res

[2, 5]

# 64 二维数组每一行都减去一个一维数组
```
in:a_2d = np.array([[3,3,3],[4,4,4],[5,5,5]])
  b_1d = np.array([1,2,3])
  
 out: [
     [2,1,0],
     [3,2,1],
     [4,3,2]
 ]
```

In [134]:
a_2d = np.array([[3,3,3],[4,4,4],[5,5,5]])
b_1d = np.array([1,2,3])

print(a_2d - b_1d)

[[2 1 0]
 [3 2 1]
 [4 3 2]]

# 65 找到第n个特定数出现的下标
```
找第5个1出现的位置
x = np.array([1, 2, 1, 1, 3, 4, 3, 1, 1, 2, 1, 1, 2])
```

In [59]:
x = np.array([1, 2, 1, 1, 3, 4, 3, 1, 1, 2, 1, 1, 2])

# 66 将datetime64类型转datetime类型
```
in:dt64 = np.datetime64('2018-02-25 22:10:10')
```

In [135]:
dt64 = np.datetime64('2018-02-25 22:10:10')

dt64 = np.datetime64('2018-02-25 22:10:10')

# from datetime import datetime
# dt64.astype(datetime)


dt64.tolist()

datetime.datetime(2018, 2, 25, 22, 10, 10)

# 67 计算滑动窗口均值(例如窗口大小3，就是0-2均值，1-3均值，2-4....)
```
in:np.random.seed(100)
Z = np.random.randint(10, size=10)

out:[ 6.33  6.    5.67  4.67  3.67  2.    3.67  3.  ]
```

In [136]:
np.random.seed(100)
Z = np.random.randint(10, size=10)

np.convolve(Z, np.ones(3)/3, mode='valid')

array([6.333333, 6.      , 5.666667, 4.666667, 3.666667, 2.      ,
       3.666667, 3.      ])

# 68 创建一个等差数列初值5增幅3数组总长10

In [137]:
np.arange(5, 5+10*3, 3)

array([ 5,  8, 11, 14, 17, 20, 23, 26, 29, 32])

# 69 如何在一系列无序日期中，补全缺失的日期

In [138]:
# Input
dates = np.arange(np.datetime64('2018-02-01'), np.datetime64('2018-02-25'), 2)
print(dates)

# Solution ---------------
filled_in = np.array([np.arange(date, (date+d)) for date, d in zip(dates, np.diff(dates))]).reshape(-1)

# add the last day
output = np.hstack([filled_in, dates[-1]])
output

# For loop version -------
out = []
for date, d in zip(dates, np.diff(dates)):
    out.append(np.arange(date, (date+d)))

filled_in = np.array(out).reshape(-1)

# add the last day
output = np.hstack([filled_in, dates[-1]])
output

['2018-02-01' '2018-02-03' '2018-02-05' '2018-02-07' '2018-02-09'
 '2018-02-11' '2018-02-13' '2018-02-15' '2018-02-17' '2018-02-19'
 '2018-02-21' '2018-02-23']

array(['2018-02-01', '2018-02-02', '2018-02-03', '2018-02-04',
       '2018-02-05', '2018-02-06', '2018-02-07', '2018-02-08',
       '2018-02-09', '2018-02-10', '2018-02-11', '2018-02-12',
       '2018-02-13', '2018-02-14', '2018-02-15', '2018-02-16',
       '2018-02-17', '2018-02-18', '2018-02-19', '2018-02-20',
       '2018-02-21', '2018-02-22', '2018-02-23'], dtype='datetime64[D]')

# 70 给定一维数组，创建阶梯型二维数组，二维数组列数是4，步幅是2
```
in:arr = np.arange(15) 
out:#> [[ 0  1  2  3]
#>  [ 2  3  4  5]
#>  [ 4  5  6  7]
#>  [ 6  7  8  9]
#>  [ 8  9 10 11]
#>  [10 11 12 13]]
```

In [142]:
arr = np.arange(15) 

def gen_strides(a, stride_len=5, window_len=5):
    n_strides = ((a.size - window_len) // stride_len) + 1
    return np.array([a[s:(s+window_len)] for s in np.arange(0, n_strides*stride_len, stride_len)])

print(gen_strides(np.arange(15), stride_len=2, window_len=4))

[[ 0  1  2  3]
 [ 2  3  4  5]
 [ 4  5  6  7]
 [ 6  7  8  9]
 [ 8  9 10 11]
 [10 11 12 13]]